{% extends "base.html" %}

{% block left %}
<h4>Регистрация участника</h4>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <table>
                {% for field in form if field.name not in ['submit', 'csrf_token'] %}
                <tr>
                    <div class="input-group">
                        <td class="label-info">{{ field.label }}</td>
                        <td class="input" style="padding: 5px">{{ field() }}</td>
                        <td>
                            {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </td>
                    </div>
                </tr>

                {% endfor %}
            </table>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

        </form>
    </div>
    <div class="col-md-8" style="padding: 5px">
        <table class="table table-bordered table-striped">
            <tr>
                <th>id</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Возраст</th>
                <th>Звание</th>
                <th>Должность</th>
                <th>Адрес</th>
                <th>E-mail</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.age}}</td>
                <td>{{user.position}}</td>
                <td>{{user.speciality}}</td>
                <td>{{user.address}}</td>
                <td>{{user.email}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}